.margin-none div#basic-graph-chart,
.margin-none div#sell-buy-form-outer-id {
    padding: 10px;
}

.margin-none div#basic-graph-chart,
.margin-none div#sell-buy-form-outer-id {
    padding: 10px;
    margin-top: 20px;
}

div#my-profile-details .top-part-all-page.basic-page-top-part {
    padding: 32px 25px;
    gap: 74px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

div#my-profile-details .top-part-all-page.basic-page-top-part,
div#my-profile-details .top-part-all-page.basic-page-top-part span {
    font-size: 16px;
    text-align: left;
    align-items: center;
}

.top-col-2 span {
    color: #fff;
}

.margin-none div#sell-buy-form-outer-id {
    margin-top: 20px;
}

.part-left-part.part-top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part-left-part.part-top-part .rightmove {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: #25DEB0;
}

.rightmove span {
    margin-right: 5px;
}

.part-left-part.part-top-part h3 {
    color: #fff;
}

.margin-none div#open-order-id-outer {
    padding: 30px
}

.mid-right-mid-bottom button {
    background: #fff !important;
    color: #25DEB0;
    font-weight: 600;
    border: 1.52641px solid #FFFFFF;
    border-radius: 15.2641px;
    margin-left: 0px !important;
}

.coin-buttons-row>span {
    display: inline-block;
    background: #FFFFFF;
    border-radius: 3.05282px;
    width: 50px;
    height: 5px;
    margin: 0 5px !important;
}

.coin-buttons-row {
    align-items: center;
}


.part-left-part.part-mid-part {
    display: flex;
    padding: 30px;
    background: rgba(1, 7, 18, 0.16);
    border-radius: 9.15845px;
    margin: 30px 0;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.mid-right-mid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mid-right-mid-top {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}

.mid-right-mid-top span {
    font-size: 37px;
}

span.Rewards-Unlocked {
    color: #81858C;
    font-size: 16px;
    margin-bottom: 20px;
}

.part-left-part.part-bottom-part.recommended h3 {
    text-align: left;
    color: #ffff;
}

.recommend-block-outer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.recommend-top-line span.rec-head-new {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.recommend-top-line {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.cmn-flex-block-type {
    display: flex;
    position: relative;
    align-items: flex-start;
}

.recommend-block-left h6 {
    font-size: 12px;
}

.notice-block {
    position: absolute;
    top: 0;
    right: 0;
}

.recommend-1,
.recommend-4 {
    padding: 20px;
    border: 1px solid #F3F5F7;
    border-radius: 12px;
    margin-top: 20px;
}

.recommend-bot-line {
    text-align: left;
    color: #BABABA;
}

.recommend-2.cmn-flex-block-type,
.recommend-3.cmn-flex-block-type {
    margin-top: 20px;
    padding: 9px;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    border-radius: 15px;
}

.recommend-1,
.recommend-2,
.recommend-3 {
    width: 48%;
}

.recommend-2.cmn-flex-block-type h6 {
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.recommend-block-left h6 {
    text-align: left;
    color: #fff;
}

.recommend-top-line span.rec-head-new {
    text-align: left;
}

.recommend-block-left a {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #25DEB0;
    font-weight: 600;
}

.recommend-1 {
    flex-direction: column;
}

.recommend-2,
.recommend-3 {
    align-items: center;
    justify-content: center;
}

.notice-block {
    font-weight: 500;
    font-size: 12px;
    background: #25DEB0;
    border-radius: 0px 11px 0px 8px;
    color: #fff;
    font-weight: 600;
    padding: 5px;
}


.part-left-part-outer-outer {
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.complete-task {
    margin-left: 25px;
    padding: 15px;
    background: #010712;
    border-radius: 30px;
}

.complete-task h6 {
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.task-1.complete-common label {
    color: #fff;
    font-weight: 600;
}

.depoit-trade-progress span {
    color: #81858C;
}

.plan-task {
    margin-top: 25px;
    margin-left: 25px;
    padding: 26px;
    background: #010712;
    border-radius: 30px;
}

.plan-task h6 {
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.task-1.plan-common label {
    color: #fff;
    font-weight: 600;
}

.depoit-trade-progress {
    position: relative;
    margin-top: 20px;
}

.task-1.complete-common {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* #01 */
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    padding: 33px 25px;
}

.task-1.plan-common {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* #01 */
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    padding: 33px 25px;
}

.depoit-trade-progress span:nth-child(2) {
    position: absolute;
    right: -102px;
    top: -5px;
}

.task-right button {
    background: #25DEB0;
    border-radius: 5px;
    text-transform: none;
    font-weight: 600;
}

.task-right {
    display: flex;
    align-items: center;
}

span.add-mid-round {
    color: #000;
    font-weight: 700;
    width: 50px;
    height: 50px;
    background: #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    z-index: 99;
}

.part-left-part-outer-outer {
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.complete-task {
    margin-left: 25px;
    padding: 26px;
    background: #010712;
    border-radius: 30px;
}

.complete-task h6 {
    text-align: left;
    color: #fff;
    margin-bottom: 20px;
}

.task-1.complete-common label {
    color: #fff;
    font-weight: 600;
}

.depoit-trade-progress span {
    color: #81858C;
}

.depoit-trade-progress {
    position: relative;
    margin-top: 20px;
}

.task-1.complete-common {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* #01 */
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    padding: 33px 25px;
}

.depoit-trade-progress span:nth-child(2) {
    position: relative;
    right: 0;
    top: 8px !important;
}

.task-right button {
    background: #25DEB0;
    border-radius: 5px;
    text-transform: none;
    font-weight: 600;
    padding: 5px 8px;
}

.task-right {
    display: flex;
    align-items: center;
}

span.add-mid-round {
    color: #000;
    font-weight: 700;
    width: 50px;
    height: 50px;
    background: #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    z-index: 99;
}

span.add-mid-round::before {
    /* height: 89px; */
    /* width: 2px; */
    /* background: #fff; */
    /* content: ''; */
    /* position: absolute; */
}

.asset-read-more label {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.asset-read-more a {
    text-decoration: none;
    color: #FFFFFF;
}

.asset-read-more label img {
    margin-left: 5px;
}

.asset-read-more {
    display: flex;
    justify-content: space-between;
}

.total-asset-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 20px;
}

.total-asset-user span {
    color: #81858C;
    font-size: 14px;
}

.total-asset-user label {
    margin: 10px 0;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

.user-asset-block-dtls.padding14px {
    padding: 14px;
}

.user-asset-block-dtls.padding14px {
    padding: 14px;
}

.make-deposit-inner span {
    color: #81858C;
    font-size: 16px !important;
    margin: 0px 10px 15px;
    display: inline-block;
}

.make-deposit-inner button {
    font-weight: 600;
    text-transform: none;
}

.make-your-first-deposit {
    justify-content: center;
}

.make-your-first-deposit button.MuiButton-contained {
    /* padding: 15px 35px; */
    background: #25DEB0;
    border-radius: 4px;
}

.make-your-first-deposit button.MuiButton-outlined {
    color: #25DEB0;
    border-color: #25DEB0;
}

.make-first-deposit {
    margin-top: 50px;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* #01 */
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    padding: 50px 0 50px;
}

.Announcement-img-outer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.announment-block {
    width: 48%;
    padding: 10px;
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    /* #01 */
    border: 1px solid #25DEB0;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;
    text-align: left;
    color: #fff;
    margin: 10px 0;
}

.Announcement-img-inner img {
    width: 100%;
}

.Announcement-img-inner {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.announment-block h5 {
    font-size: 14px;
}

.make-first-deposit {
    padding-top: 175px;
}

#current-plan-details-left h4,
#current-plan-details-left h4 span,
#current-plan-details-left h1 {
    color: #fff !important;
}

.current-plan-details .task-left {
    width: 100%;
}

.current-plan-details .task-left>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .current-plan-details div#current-plan-details-left {
    width: 50%;
} */

#current-plan-details-right {
    margin-bottom: 0px !important;
    text-align: right;
    width: 50%;
    font-size: 14px;
}

.plan-task.current-plan-details .task-1.plan-common {
    padding: 15px;
}

.flex-box-my-asset .make-deposit-inner {
    padding: 15px !important;
}

.flex-box-my-asset .make-first-deposit {
    margin-top: 0px;
}

.flex-box-my-asset {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

div#sell-buy-form-outer-id-grid div#sell-buy-form-outer-id {
    margin-top: 0px;
    padding: 0px;
}

div#sell-buy-form-outer-id-grid .Announcement-img-outer {
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    align-items: flex-start;
}

div#sell-buy-form-outer-id-grid .Announcement-img-outer .announment-block {
    width: 32%;
}

#current-plan-details-left h4 {
    font-size: 18px;
}

button.redeem-btn-cls-style {
    background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%) !important;
    border: 1px solid #25DEB0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.redeem-block-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.redeem-block-right h5 {
    color: #fff;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}


@media (max-width:1199.98px) {

    .plan-task {
        margin-left: 0px !important;
    }

}

@media (max-width:991.98px) {

    div#my-profile-details .top-part-all-page.basic-page-top-part {
        justify-content: flex-start;
    }

    .flex-box-my-asset {
        flex-direction: column;
        gap: 20px;
    }

    .current-plan-details .task-left>div>div {
        flex-direction: column;
        gap: 40px;
    }

    h6#current-plan-details-right {
        text-align: center;
        font-weight: 400;
        line-height: 35px;
    }

    div#sell-buy-form-outer-id-grid .user-asset-block-dtls.padding14px {
        padding-top: 20px !important;
    }

    h6#current-plan-details-right,
    .current-plan-details div#current-plan-details-left {
        width: 100%;
    }



    .person-profile {
        flex-direction: column;
        width: 100%;
    }

    .person-profile .intro {
        margin-left: 0px;
    }

    .details .views {
        flex-direction: column;
        margin-left: 0px;
        margin: 20px 0;
    }

    .copy-trade {
        margin-left: 0px !important;
        margin-bottom: 20px;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .premium {
        flex-direction: column;
        padding: 20px !important;
        gap: 30px;
    }

    .min-height-block {
        margin-bottom: 0px !important;
        min-height: auto !important;
        margin-top: 15px;
    }

    .trade-outer p.view-para {
        font-size: 15px !important;
        margin: 0px !important;
    }

    .trade-outer {
        padding: 20px !important;
    }




}

/* img.profile-img {
    width: 15%;
    border-radius: 20px; 
    height: 40px;
    width: 40px;
    background: #ccc;
    border-radius: 50%;
} */

profile-img {
    /* width: 15%;
    border-radius: 20px; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: "#25DEB0"
}

