.margin-none div#basic-graph-chart,
.margin-none div#sell-buy-form-outer-id {
    padding: 10px;
}

.margin-none div#basic-graph-chart,
.margin-none div#sell-buy-form-outer-id {
    padding: 10px;
    margin-top: 20px;
}

div#my-profile-details .top-part-all-page.basic-page-top-part {
    padding: 32px 25px;
    gap: 74px;
}

.form-div {

    border: 0.931864px solid #25DEB0;
    -webkit-backdrop-filter: blur(1.86373px);
    backdrop-filter: blur(1.86373px);
    border-radius: 10px !important;
    padding: 32px 25px;
    gap: 74px;
    width: 70%;
    margin: auto;
}

.form-div>.MuiBox-root {
    height: 100%;
}

.form-div .logo {
    padding: 0px;
}

.form-div h2 {
    text-align: center;
    color: #fff;
}

.form-div .MuiFormControl-root {
    margin-left: 0px !important;
    margin-right: 0px !important;

    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.form-div fieldset {
    border-color: rgb(255 251 251 / 23%) !important;

}

.form-div form label {
    color: rgb(255 251 251 / 100%) !important;
}

.form-div .MuiOutlinedInput-root {
    width: 500px
}

.login-button {
    background-color: #25DEB0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
    border-radius: 10px !important;
}

.text-big-login {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.text-small-login {
    font-size: 14px;
    color: #fff;
}

.login-with p {
    text-align: left;
    color: #fff;
}

.login-with {
    margin-top: 30px !important;
}

ul.login-with-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}

ul.login-with-list li {
    width: 40px;
    height: 40px;
    border: 1px solid #5d5a5a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.login-with-list li a {
    line-height: 11px;
}

.have-account {
    padding-bottom: 80px;
    position: absolute;
    top: 35px;
    right: 20px;
    color: #fff;
}

.have-account a {
    text-decoration: none;
    color: #25deb0;
}

a.forgot-password {
    margin-left: 0px;
    text-align: left;
    text-decoration: none;
    color: #25deb0 !important;
    margin: 0px;
    outline: none !important;
}

@media screen and (max-width: 500px) {
    .form-div {
        padding: 20px;
    }

}

@media screen and (max-width: 600px) {

    .form-div .MuiOutlinedInput-root {
        width: 215px
    }

    .form-div h2 {
        font-size: 20px;
    }
}


@media screen and (max-width: 900px) {

    .form-div {
        width: 90%;
        margin: auto;
    }

}