/* .fixed-icon{
    border:2px solid red; 
    position: fixed ;
    left: 10%;
    width: 80%;
} */
.modal {
    width: 600px !important;
    padding: 0px 15px 20px 15px  !important;
    border: 1px solid #25DEB0 !important;
backdrop-filter: blur(2px) !important;
border-radius: 30px !important;
background: radial-gradient(35.18% 134.17% at 50% 50%, rgba(41, 197, 161, 0.2) 0%, rgba(28, 112, 99, 0.2) 100%) !important;
overflow: auto;
height: 50%;
background: #000000b3 !important;

}
.FORMGROUP{
    color:white;
    text-align: center  ;
}

.FORMGROUP div{

  width:8%;
  margin:1rem auto;
}
.FORMGROUP div p input{
  margin-right:2px;
 }



.fixed-icon{
    position: sticky;
    top: 0%;
padding-top: 15px;
padding-bottom:20px;
    align-items: center;
    background-color: black;
    z-index: 9;
}


.twobuttons{

display: flex ;
justify-content: space-evenly;
}

.LocalFireDepartmentIcon-full{
    width :45% !important ;
    font-size: 15px !important;
    padding:7px 0px !important;
}



/* Hide the default checkbox */
.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #aaa; /* Set the border color here */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  /* Custom styles for checked state */
  .custom-checkbox:checked {
    background-color: #4caf50; /* Set the background color when checked */
  }
  
  /* Styles for the checkmark (optional) */
  .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }
  
  /* Show the checkmark when the checkbox is checked */
  .custom-checkbox:checked::after {
    display: block;
  }

  .total-assets-strategies.second {
    display: flex;
    column-gap: 9px;
}