.login-page{
    background: #1E1E1E !important;
    height: 100vh;
}
.login-page > .MuiBox-root {
    height: 100%;
}
.login-page .logo {
    padding: 0px;
}
.login-page h2 {
    text-align: left;
    color: #fff;
}
.login-page .MuiFormControl-root {
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    margin-top: 40px !important;
    margin-bottom: 10px !important;
}
.login-page fieldset{border-color: rgb(255 251 251 / 23%) !important;}

.login-page form label {
    color: rgb(255 251 251 / 23%) !important;
}
.login-button{
    background-color: #25DEB0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 20px !important;
}
.text-big-login {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.text-small-login {
    font-size: 14px;
    color: #fff;
}
.login-with p {
    text-align: left;
    color: #fff;
}
.login-with {
    margin-top: 30px !important;
}
ul.login-with-list {
    list-style: none;
    padding-left: 0px;
    display: flex;
    gap: 10px;
}
ul.login-with-list li {
    width: 40px;
    height: 40px;
    border: 1px solid #5d5a5a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.login-with-list li a {
    line-height: 11px;
}
.have-account {
    padding-bottom: 80px;
    position: absolute;
    top: 35px;
    right: 20px;
    color: #fff;
}
.have-account a {
    text-decoration: none;
    color: #25deb0;
}
p#outlined-helperText-helper-text, p#outlined-weight-helper-text {
    margin: 0px;
    color: rgba(255, 255, 255, 0.4);
}
p.tc-pp {
    margin-left: 0px !important;
    text-align: left;
    width: 100% !important;
    color: #fff;
    font-size: 13px;
}
p.tc-pp a {
    color: #25deb0;
    text-decoration: none;
    font-size: 13px;
}
.MuiOutlinedInput-root{color: #fff !important}